{
    "pipeline": [
        {
            "filename": "{TMP_DIR}/pointcloud.laz"
        },
        {
            "filename": "{TMP_DIR}/dtm.tif",
            "gdaldriver": "GTiff",
            "output_type": "{OUTPUT_TYPE}",
            "resolution": 0.05,
            "type": "writers.gdal"
        }
    ]
}
